a {
    text-decoration: none;
}
li {
    list-style-type: none;
  }
body{
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background-color:#FFFFFF;
    
}
footer{
    background-color: #2e2f42;
}
img{
    display: block;
}
:root {
    --text-color: #F4F4FD;
    --button-bg-color: #4d5ae5;
}
.main-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-div{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.adress-one{
    font-style: normal;
}
.logo-first-letters {
    padding: 24px 0;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-first-letters:hover{
    color: #404bbf;
}
.ul-header{
    display: flex;
    gap: 40px;

}
.li-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.ul-adress{
    display: flex;
    gap: 40px;
}
.second-logo-letters {
    color: #2e2f42;
}
.home-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.home-text:hover{
    color: #404bbf;
}
.home-text:focus{
    color: #404bbf;
}

.adress-start{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-start:hover{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.adress-start:focus{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.section-one{
    background-color: #2e2f42;
    padding:  188px 0 188px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.title-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    background-color: var(--button-bg-color);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.title-button:hover{
    cursor: pointer;
    background-color: #404BBF;
}
.title-button:focus{
    cursor: pointer;
    background-color: #404BBF;
}
.section-two{
    padding: 120px 0;
}
.ul-section-two{
    display: flex;
    gap: 24px;
}
.li-section-two{
    width: calc((100% - 72px) / 4);
}
.h-sectwo{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
}
.p-sectwo{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-three{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title-section-three{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.ul-section-three{
    display: flex;
    gap: 24px;
}
.li-section-three{
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
}
.div-img{
    padding: 32px 0;
}
.h-section-three{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-section-three{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-section-four {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.ul-section-four{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.li-section-four{
    width: calc((100% - 48px) / 3);

}
.div-img-four{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}
.h-section-four {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-section-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-last{
    padding: 100px 0;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-second-letter{
    color: #f4f4fd;
}

.p-footer{
    max-width: 264px;
    line-height: 1.5;
    color: var(--text-color);
    letter-spacing: 0.02em;
}
